.movie_cover {
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 1px #ced4da;
    outline: 0;
    border-radius: 21px;
    transition: box-shadow .15s ease-in-out;
}

.movie_cover:hover {
    box-shadow: 0 0 0 4px rgb(13 110 253 / 25%);
}

.movie_cover:focus {
    box-shadow: 0 0 8px 5px rgb(13 110 253 / 50%);
}

.item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-index {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    justify-items: center;
}