<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <script type="text/javascript">
        (async () => {
            const res = await fetch("/commodity/list")
            const commodity = (await res.json())

            const html = commodity.map(c => {
                let img = ""
                if (c.picture) {
                    img = `<img width="auto" height="32px" class="picture" src="${c.picture}" alt="">`
                }
                return (
                `<tr>
                    <td>${c.name}</td>
                    <td>${c.price}</td>
                    <td>${img}</td>
                    <td>${c.status}</td>
                    <td>${c.inventory}</td>
                    <td>
                        <button style="" class="btn btn-secondary" onclick="upd(${c.id})">修改</button>
                        <button style="" class="btn btn-danger" onclick="del(${c.id})">删除</button>
                    </td>
                </tr>`)
            }).join("")
            document.querySelector("table").innerHTML += html
        })()

        function add(){
            location.href="/commodity/add"
        }
        function del(id){
            location.href="/commodity/del?id="+id
        }
        function upd(id){
            location.href="/commodity/upd?id="+id
        }
    </script>
    <style>
        body {
            width: 100%;
            height: 100%;
            /*background: url("") no-repeat;*/
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container-form" layout:fragment="content">
    <button type="button"
            onclick="add()"
            style="margin-top: 60px"
            class="btn btn-primary">
        新增</button>
    <table class="table">
        <thead>
        <tr>
            <th>
                商品名称
            </th>
            <th>
                商品价格
            </th>
            <th>
                图片
            </th>
            <th>
                状态
            </th>
            <th>
                库存
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>