<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #picture-img {
            width: 50px;
            height: auto;
        }
    </style>
    <script type="text/javascript">
        async function uploadImg() {
            const elem = document.querySelector("#avatar-file")
            if (elem.files.length === 0) return false
            const file = elem.files[0]
            const reader = new FileReader()
            reader.readAsDataURL(file)
            const url = await new Promise((res, rej) => reader.onloadend = () => res(reader.result))
            console.log(url)
            document.querySelector("#picture").value = url
            document.querySelector("#picture-img").src = url
            return true
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column"></div>
        <div class="col-md-4 column">
            <form action="/commodity/save" method="post" enctype="multipart/form-data" onsubmit="uploadImg()">
                <input type="hidden" id="id" name="id" th:value="${id}">
                <label>
                    商品名称：<input type="text" name="name" id="name">
                </label><br>
                <label>
                    商品价格：<input type="text" name="price" id="price">
                </label><br>
                <label>
                    商品图片：<input type="file" id="avatar-file" accept="image/*" onchange="uploadImg()">
                </label><br>
                <div>
                    <input type="hidden" name="picture" id="picture">
                    <img src="" id="picture-img">
                </div>
                <label>
                    商品状态: <input type="radio" value="已上架" name="status" class="status"> 已上架
                        <input type="radio" value="已上架" name="status" class="status"> 未上架
                </label><br>
                <label>
                    商品库存：<input type="text" name="inventory" id="inventory">
                </label><br>
                <input id="submit" type="submit" value="修改">
            </form>
        </div>
        <div class="col-md-4 column"></div>
    </div>
</div>
    <script type="text/javascript">
        (async () => {
            let id = document.querySelector("#id").value
            if (!id) {
                document.querySelector("#id").value = 0
                document.querySelector("#submit").value = "新增"
                return
            }
            const res = await fetch(`/commodity/get?id=${id}`)
            const commodity = await res.json()
            document.querySelector("#name").value = commodity.name
            document.querySelector("#price").value = commodity.price
            document.querySelector("#inventory").value = commodity.inventory
            document.querySelector("#picture-img").src = commodity.picture

            document.querySelectorAll(".status").forEach(e => {
                if(e.value === commodity.status)
                    e.checked = true
            })
        })()
    </script>
</body>
</html>