<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #picture-img {
            width: 50px;
            height: auto;
        }
        .status {
            margin-right: 0;
        }
        label {
            margin: .5em 0;
        }
    </style>
    <script type="text/javascript">
        async function uploadImg() {
            const elem = document.querySelector("#avatar-file")
            if (elem.files.length === 0) return false
            const file = elem.files[0]
            const reader = new FileReader()
            reader.readAsDataURL(file)
            const url = await new Promise((res, rej) => reader.onloadend = () => res(reader.result))
            console.log(url)
            document.querySelector("#picture").value = url
            document.querySelector("#picture-img").src = url
            return true
        }
    </script>
</head>
<body layout:fragment="content">
<div class="container-center content">
    <form action="/commodity/save" method="post" enctype="multipart/form-data" onsubmit="uploadImg()">
        <input type="hidden" id="id" name="id" th:value="${id}">
        <label>
            商品名称：<input type="text" name="name" id="name" class="form-control">
        </label><br>
        <label>
            商品类别：
            <select name="type" id="type"></select>
        </label><br>
        <label>
            商品价格：<input type="text" name="price" id="price" class="form-control">
        </label><br>
        <label>
            商品图片：<input type="file" id="avatar-file" accept="image/*" onchange="uploadImg()">
        </label><br>
        <div>
            <input type="hidden" name="picture" id="picture">
            <img src="" id="picture-img">
        </div>
        <label>
            商品状态:
            <span><input type="radio" value="已上架" name="status" class="status form-check-inline"> 已上架</span>
            <span><input type="radio" value="已上架" name="status" class="status form-check-inline"> 未上架</span>
        </label><br>
        <label>
            商品库存：<input type="text" name="inventory" id="inventory" class="form-control">
        </label><br>
        <input id="submit" type="submit" value="修改" class="btn btn-primary">
    </form>
</div>
    <script type="text/javascript">
        (async () => {
            const type = document.querySelector("#type");
            const typeRes = await fetch("/commodity/getTypes")
            const types = await typeRes.json()

            types.forEach(e => {
                let element = document.createElement('option')
                element.value = e.id
                element.innerText = e.name
                type.append(element)
            })

            let id = document.querySelector("#id").value
            if (!id) {
                document.querySelector("#id").value = 0
                document.querySelector("#submit").value = "新增"
                return
            }
            const res = await fetch(`/commodity/get?id=${id}`)
            const commodity = await res.json()
            document.querySelector("#name").value = commodity.name
            document.querySelector("#price").value = commodity.price
            document.querySelector("#inventory").value = commodity.inventory
            document.querySelector("#picture").value = commodity.picture
            document.querySelector("#picture-img").src = commodity.picture

            document.querySelectorAll(".status").forEach(e => {
                if(e.value === commodity.status)
                    e.checked = true
            })
        })()
    </script>
</body>
</html>