<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/index.css}">
</head>
<body layout:fragment="content">
<div class="container-form">
    <input type="text" placeholder="输入关键词搜索电影"
           class="form-control"/>
</div>
<div>
    <h1 th:if="${commodities.isEmpty()}" class="container-center">找不到商品...</h1>
    <div th:unless="${commodities.isEmpty()}" class="container-index">
        <div class="item" th:each="m : ${commodities}">
            <p>
                <img class="movie_cover" tabindex="0"
                     th:src="${m.getPicture()}"
                     th:alt="'Cover of ' + ${m.getName()}"/>
            </p>
            <div class="item-text">
                <div th:text="${m.getName()}"></div>
                <h4 class="d-flex justify-content-between align-items-baseline">
                    <b class="text-price" th:with="num=${m.getPrice()} / 100."
                       th:utext="${#numbers.formatCurrency(num)}"></b>
                    <small class="text-secondary px-1 h6">
                        <span class="px-2" th:text="'库存: ' + ${m.getInventory()}"></span>
                        <span th:text="${typeMap.get(m.getType())}"></span>
                    </small>
                </h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>