<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        
    </script>
</head>
<body id="navbar">
<div class="top-row-navbar ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index">我不是售票系统，我是电商平台(；′⌒`)</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a class="nav-link" href="/index" >
                <span class="oi"><i class="fas fa-home"></i></span> 主页
            </a>
        </div>
        <!-- 登录用户功能 -->
        <div class="nav-item px-3">
            <a class="nav-link" href="/MyTickets" >
                <span class="oi"><i class="fas fa-wallet"></i></span> 票夹
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/MyOrders" >
                <span class="oi"><i class="fas fa-receipt"></i></span> 订单
            </a>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="/MyDiscounts" >
                <span class="oi"><i class="fas fa-ticket-alt"></i></span> 我的优惠券
            </a>
        </div>
        <!-- 管理员功能 -->
<!--        <div class="nav-item px-3">-->
<!--            <a class="nav-link" href="/CheckTicket" >-->
<!--                验票-->
<!--            </a>-->
<!--        </div>-->
        <div class="nav-item px-3">
            <a class="nav-link" href="/commodity/manage" >
                管理商品
            </a>
        </div>
<!--        <div class="nav-item px-3">-->
<!--            <a class="nav-link" href="/RoomMgr" >-->
<!--                管理房间-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="nav-item px-3">-->
<!--            <a class="nav-link" href="/Show/Range" >-->
<!--                安排场次-->
<!--            </a>-->
<!--        </div>-->
        <div class="nav-item px-3">
            <a class="nav-link" href="/usersInfo" >
                管理用户
            </a>
        </div>
    </nav>
</div>
</body>
</html>